<footer>
    <p id="banner">Acesta e un proiect scolar. <button id="ok_cookies">Accepta cookies</button></p>  
    <address>
        Adresa: <a href="https://www.google.com/maps/place/Faculty+of+Mathematics+and+Computer+Science/@44.435536,26.099587,16z/data=!4m6!3m5!1s0x40b1ff472f47f047:0x493984726f0235f9!8m2!3d44.4355355!4d26.0995867!16s%2Fg%2F1td63tdh?hl=en&entry=ttu&g_ep=EgoyMDI1MDMwMi4wIKXMDSoASAFQAw%3D%3D" target="_blank">Str. Academiei nr.14, 010014 București</a>    
        <br>
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d5697.76855070616!2d26.099587!3d44.435536!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40b1ff472f47f047%3A0x493984726f0235f9!2sFaculty%20of%20Mathematics%20and%20Computer%20Science!5e0!3m2!1sen!2sus!4v1741193970720!5m2!1sen!2sus" 
        width="360" height="270" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        <br>
        Telefon: <a href="tel:+40712345678">+40712345678</a>
        <br>
        Email: <a href="mailto:contact@adorastep.com">contact@adorastep.com</a>
        <br>
        WhatsApp: <a href="https://wa.me/0712345678">+40712345678</a>
    </address>
    <br>
    <small>Copyright &copy; <time datetime="2025-04-08">8 aprilie 2025</time></small>
    <br>
    <a href="#" title="mergi sus" id="link-top">
        <div id="triunghi">&#8679;</div>
    </a>
    <p id="absolut"></p>
</footer>