ul.meniu {
  display: none;
  margin: 0;
  width: 100%;
  background-color: var(--pink-light);
  mask-image: linear-gradient(to top, transparent 0%, black 50%, black 100%);
  mask-size: 100% 200%;
  mask-position: bottom;
  mask-repeat: no-repeat;
  overflow: visible;
}
ul.meniu ul {
  mask-image: none;
}
ul.meniu > li:first-child::after {
  display: none;
}
ul.meniu li {
  margin: 0;
  width: 100%;
  position: relative;
}
ul.meniu li ul {
  width: 100%;
}
ul.meniu li ul li {
  width: 100%;
}

#hamburger {
  display: block;
  padding: 5px;
  cursor: pointer;
  background-color: var(--pink-light);
}
#hamburger .hamburger-icon {
  position: relative;
  width: 30px;
  height: 21px;
}
#hamburger .hamburger-icon span:nth-child(1) {
  position: absolute;
  left: 0;
  width: 100%;
  height: 3px;
  background: var(--pink-dark);
  border-radius: 1.5px;
  transition: transform 0.3s ease, opacity 0.3s ease;
  top: 0px;
  animation: hamburgerAppear 0.6s ease-in-out both;
  animation-delay: 0ms;
}
#hamburger .hamburger-icon span:nth-child(2) {
  position: absolute;
  left: 0;
  width: 100%;
  height: 3px;
  background: var(--pink-dark);
  border-radius: 1.5px;
  transition: transform 0.3s ease, opacity 0.3s ease;
  top: 9px;
  animation: hamburgerAppear 0.6s ease-in-out both;
  animation-delay: 300ms;
}
#hamburger .hamburger-icon span:nth-child(3) {
  position: absolute;
  left: 0;
  width: 100%;
  height: 3px;
  background: var(--pink-dark);
  border-radius: 1.5px;
  transition: transform 0.3s ease, opacity 0.3s ease;
  top: 18px;
  animation: hamburgerAppear 0.6s ease-in-out both;
  animation-delay: 600ms;
}

#ch-menu:checked + ul.meniu {
  display: block;
  z-index: 10;
  animation: revealFromTop 0.9975s ease-in-out forwards;
}

#ch-menu:checked + ul.meniu:hover {
  mask-image: none !important;
}

@keyframes revealFromTop {
  from {
    mask-position: bottom;
  }
  to {
    mask-position: top;
  }
}
@keyframes hamburgerAppear {
  0% {
    opacity: 0;
    transform: translateY(-10px) scale(0.8) rotate(-15deg);
    filter: brightness(1.5);
  }
  50% {
    opacity: 0.5;
    transform: translateY(5px) scale(1.1) rotate(5deg);
    filter: brightness(1.25);
  }
  100% {
    opacity: 1;
    transform: translateY(0) scale(1) rotate(0);
    filter: brightness(1);
  }
}